<h1>My lists</h1>
<i class="fa-solid fa-popcorn"></i>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://entrepreneurship.babson.edu/wp-content/uploads/2020/10/Movie-1200-630.jpg);">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>

<div class = "mylist">
<h2>My lists</h2>
</div>

 <p><%= link_to "Add your list",  new_list_path %></p>


  <div class="container">
    <div class="movielists">
        <% @lists.each do |list| %>
        <div class="details">
          <h2><%= link_to list.name,list_path(list) %></h2>
          <p><%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %></p>
        </div>
        <% end %>

    </div>
  </div>
